<!DOCTYPE html>
<html lang="en">

<head>

    <title>Dashboard page</title>
    <link rel='stylesheet' href="/static/css/dash1.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <form action="/dash1" method="post">
        <div class="menu-wrapper">
            <div class="sidebar-header">
                <div class="sideBar">
                    <div><img src="/static/exf-removebg-preview.png" alt="image"></div>
                    <ul>
                        <a href="/dash1">
                            <li><i class="fas fa-chart-bar"></i><label>Dashboard</label></li>
                        </a>
                        <a href="/myaccount">
                            <li><i class="fas fa-user"></i><label>My Account</label></li>
                        </a>
                        <a href="/shipment">
                            <li><i class="fas fa fa-truck"></i><label> New Shipment</label></li>
                        </a>
                        <a href="/myshipment">
                            <li><i class="fa fa-book" aria-hidden="true"></i></i><label> My
                                    Shipment</label>
                        </a>
                        </li>
                        <a href="/data_stream">
                            <li><i class="fas fa fa-tv"></i><label>Device Data</label></li>
                        </a>
                        <a href="/logout">
                            <li><i class="fa fa-sign-out"></i><label> Log out</label></li>
                        </a>
                    </ul> <span class="cross-icon"><i class="fas fa-times"></i></span>
                </div>
                <div class="backdrop"></div>
                <div class="content">
                    <header>
                        <div class="menu-button" id='desktop'>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="menu-button" id='mobile'>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <h1>Hello, {%if user%}{{user["username"]}}{% endif %}. Welcome to SCMXPertLite</h1>
                        <h1></h1>
                    </header>
                    <div class="content-data">
                        <div class="error">{%if message%}{{message}}{%endif%}</div>
                        <a href="/shipment" style=" text-decoration: none;" class="centered-button1">Create Shipment</a>
                        <a href="/data_stream" style=" text-decoration: none;" class="centered-button2">Device Data
                            Stream</a>
                    </div>
                </div>
            </div>
    </form>
    <!--Script code for extending the menu bar-->
    <script>
        $("#mobile").click(function () {
            $('.sideBar').addClass("showMenu");
            $('.sideBar').removeClass("widthChange");
            $('.backdrop').addClass('showBackdrop')
        });
        $(".cross-icon").click(function () {
            $('.sideBar').removeClass("showMenu");
            $('.backdrop').removeClass('showBackdrop')
        });
        $(".backdrop").click(function () {
            $('.sideBar').removeClass("showMenu");
            $('.backdrop').removeClass('showBackdrop')
        });
        $("#desktop").click(function () {
            $('li label').toggleClass("hideMenuList");
            $('.sideBar').toggleClass("widthChange");
        });
        $('li').click(function () {
            $('li').removeClass();
            $(this).addClass('selected');
            $('.sideBar').removeClass("showMenu");
        });
    </script>
</body>

</html>