<!DOCTYPE html>
<html lang="en">

<head>

    <title>Data stream page</title>
    <link rel='stylesheet' href="/static/css/data_stream.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <form action="/data_stream" method="post">
        <div class="menu-wrapper">
            <div class="sidebar-header">
                <div class="sideBar">
                    <div><img src="/static/exf-removebg-preview.png"></div>
                    <ul>
                        <a href="/dash1">
                            <li><i class="fas fa-chart-bar"></i><label>Dashboard</label></li>
                        </a>
                        <a href="/myaccount">
                            <li><i class="fas fa-user"></i><label>My Account</label></li>
                        </a>
                        <a href="/shipment">
                            <li><i class="fas fa fa-truck"></i><label> New Shipment</label></li>
                        </a>
                        <a href="/myshipment">
                            <li><i class="fa fa-book" aria-hidden="true"></i></i><label> My
                                    Shipment</label>
                        </a>
                        </li>
                        <a href="/data_stream">
                            <li><i class="fas fa fa-tv"></i><label>Device Data</label></li>
                        </a>
                        <a href="/user_manage">
                            <li><i class="fas fa-user"></i><label>User
                                    Management</label></li>
                        </a>
                        <a href="/logout">
                            <li><i class="fa fa-sign-out"></i><label> Log out</label></li>
                        </a>
                    </ul> <span class="cross-icon"><i class="fas fa-times"></i></span>
                </div>
                <div class="backdrop"></div>
                <div class="content">
                    <header>
                        <div class="menu-button" id='desktop'>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="menu-button" id='mobile'>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <h1>Hello, {%if user%}{{user["username"]}}{% endif %}. Welcome to SCMXPertLite</h1>
                        <h1></h1>
                    </header>
                    <div class="content-img">
                        <div class="content-img-data">

                            <div class="device-id-container">
                                <h3>Please select a device id to get stream data</h3>
                                <select name="device_id" id="device_id">
                                    <option value="1156053076">1156053076</option>
                                    <option value="1156053077">1156053077</option>
                                </select>
                                <input type="submit" value="Fetch data" class="submit-btn">
                                <div class="error">{%if message%}{{message}}{%endif%}</div>
                            </div>


                            <table>
                                <thead>
                                    <tr>
                                        <th>Battery level</th>
                                        <th>Device ID</th>
                                        <th>First Sensor Temperature</th>
                                        <th>Route from</th>
                                        <th>Route to</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in stream_data %}
                                    <tr>
                                        <td data-label="Battery lever">{{ item.Battery_Level }}</td>
                                        <td data-label="Device ID">{{ item.Device_Id}}</td>
                                        <td data-label="First Sensor Temperature">{{ item.First_Sensor_temperature}}
                                        </td>
                                        <td data-label="Route from">{{ item.Route_From}}</td>
                                        <td data-label="Route to">{{ item.Route_To}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>


                        </div>

                    </div>
                </div>
            </div>
    </form>
    <!--Script code for extending the menu bar-->
    <script>
        $("#mobile").click(function () {
            $('.sideBar').addClass("showMenu");
            $('.sideBar').removeClass("widthChange");
            $('.backdrop').addClass('showBackdrop')
        });
        $(".cross-icon").click(function () {
            $('.sideBar').removeClass("showMenu");
            $('.backdrop').removeClass('showBackdrop')
        });
        $(".backdrop").click(function () {
            $('.sideBar').removeClass("showMenu");
            $('.backdrop').removeClass('showBackdrop')
        });
        $("#desktop").click(function () {
            $('li label').toggleClass("hideMenuList");
            $('.sideBar').toggleClass("widthChange");
        });
        $('li').click(function () {
            $('li').removeClass();
            $(this).addClass('selected');
            $('.sideBar').removeClass("showMenu");
        });

    </script>
</body>

</html>