<!DOCTYPE html>
<html>

<head>

  <title>Testing page</title>
  <link rel='stylesheet' href="/static/css/test.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>



  </style>
</head>

<body>
  <form action="/test" method="get">
    <div class="menu-wrapper">
      <div class="sidebar-header">
        <div class="sideBar">
          <div><img src="/static/exf-removebg-preview.png"></div>
          <ul>
            <li><i class="fas fa-chart-bar"></i><label><a href="/dash1">Dashboard</a></label></li>
            <li><i class="fas fa-user"></i><label><a href="/myaccount">My Account</a></label></li>
            <li><i class="fas fa fa-truck"></i><label><a href="/shipment"> New Shipment</a></label></li>
            <li><i class="fas fa fa-tv"></i><label><a href="/data_stream">Device Data</a></label></li>
            <li><i class="fa fa-sign-out"></i><label><a href="/logout"> Log out</a></label></li>
          </ul> <span class="cross-icon"><i class="fas fa-times"></i></span>
        </div>
        <div class="backdrop"></div>
        <div class="content">
          <header>
            <div class="menu-button" id='desktop'>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="menu-button" id='mobile'>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <h1>Hello, {%if user%}{{user["username"]}}{% endif %}. Welcome to SCMXPertLite</h1>
            <h1></h1>
          </header>
          <div class="content-img">
            <div class="content-img-data">
              <h2> Our Shipment Montoring</h2>
              <br><br>
              <span class="row-content">
                <div class="top-column">
                  <h3>Live Location of shipment</h3>
                </div>
                <h3>Tracking of temperatures</h3>
              </span>
              <br><br>
              <span class="row-content">
                <div class="bottom-column">
                  <h3>History of shipment location tracking</h3>
                </div>
                <h3>Alerting customer on shipment arrival or departure.</h3>
              </span>


            </div>

            <!-- <div class="error">{%if message%}{{message}}{%endif%}</div>
            <button class="centered-button1"><a href="/shipment">Create Shipment</a></button>
            <button class="centered-button2"><a href="/data_stream">Device Data Stream</a></button> -->
          </div>
        </div>
      </div>

  </form>
  <!--Script code for extending the menu bar-->
  <script>
    $("#mobile").click(function () {
      $('.sideBar').addClass("showMenu");
      $('.sideBar').removeClass("widthChange");
      $('.backdrop').addClass('showBackdrop')
    });
    $(".cross-icon").click(function () {
      $('.sideBar').removeClass("showMenu");
      $('.backdrop').removeClass('showBackdrop')
    });
    $(".backdrop").click(function () {
      $('.sideBar').removeClass("showMenu");
      $('.backdrop').removeClass('showBackdrop')
    });
    $("#desktop").click(function () {
      $('li label').toggleClass("hideMenuList");
      $('.sideBar').toggleClass("widthChange");
    });
    $('li').click(function () {
      $('li').removeClass();
      $(this).addClass('selected');
      $('.sideBar').removeClass("showMenu");
    });


    function dummy(event) {
      event.preventDefault()
      console.log("inside the create shipment invoke function")
      // location.href = "/shipment"
    }
  </script>
</body>

</html>